html
  head
    title!= 'longPriceQuery'
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
  body
    .container-fluid
      .row
        .col-lg-10.col-lg-offset-1
          table.table.table-bordered.table-condensed.table-hover
            tr
              th(rowspan=longPrice.length+1)!=routes
              th 航班号
              th 时刻
              each time in depDates
                th!=time.slice(5)
            each airlinePrice in longPrice
              - var isY8 = airlinePrice.airline.includes('Y8')
              tr(class=isY8 ? 'danger' : '')
                th!=airlinePrice.airline 
                th!=airlinePrice.depDateTime 
                each depDatePrice in airlinePrice.prices
                  td!=depDatePrice.price
